body{
    width: 100vw;
    height: 100vh;
    background-image: url("../img/nubes-rosas.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.card-body{
    background-image: url("/assets/img/sub3Meses.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;

    box-shadow: 0px 10px 10px black;
}
