/*HEADER CSS*/

    /*Botón de perfil*/
    .btPerfil{
        margin-left: 5px;
        background-color: #22222b;
    }

    /*Color del botón de buscar */
    .btSearch{
        background-color: #434351;
    }

    /*Color de fondo del header*/
    header{
        background-color: #ac6291;
    }
    
    main{
        min-height: 80vh;
    }

    /*Fondo de la página*/
    .bgBody{
        background-color: #ece7eb;
    }

    /*Remarca los enlaces*/
    .navRemark:hover{
        background-color: #ece7eb;
    }


/*FOOTER CSS*/

    /*Medidas para la imagen del footer*/
    .footImg{
        max-height: 150px;
        border-radius: 0% !important;
    }

    /*Color de fondo de footer*/
    .bgFooter{
        background-color: #e6cadf;
    }
    
    
/*MODAL PARA LOS AVISOS*/
    .miModal{
        z-index: 2000;
        position: absolute;

        max-width: 700px;
        max-height: 300px ;
        
        border: 5px solid #ac6291;/*Revisar color en casa para que coincida con la paleta*/
        background-color: #e6cadf;

    }