/*HEADER CSS*/

    /*Botón de perfil*/
    .btPerfil{
        margin-left: 5px;
        background-color: #22222b;
    }

    /*Color del botón de buscar */
    .btSearch{
        background-color: #434351;
    }

    /*Color de fondo del header*/
    header{
        background-color: #ac6291;
    }
    
    main{
        min-height: 80vh;
    }

    /*Fondo de la página*/
    .bgBody{
        background-color: #ece7eb;
    }

    /*Remarca los enlaces*/
    .navRemark:hover{
        background-color: #ece7eb;
    }


/*FOOTER CSS*/

    /*Medidas para la imagen del footer*/
    .footImg{
        max-height: 150px;
        border-radius: 0% !important;
    }

    /*Color de fondo de footer*/
    .bgFooter{
        background-color: #e6cadf;
    }

    .linksFooter{
        color: black;
        text-decoration: none;
        font-weight: bold;
    }

    
    
/*MODAL PARA LOS AVISOS*/
    .miModal{
        z-index: 2000;
        position: absolute;

        max-width: 700px;
        max-height: 300px ;
        
        border: 5px solid #ac6291;/*Revisar color en casa para que coincida con la paleta*/
        background-color: #e6cadf;

    }

/*ESTILOS DE USO EN DIFERENTES PAGINAS*/

    /*colores de fondo de oscuro a claro*/
    .bg-oscuro2{
        background-color: #22222b;
    }

    .bg-oscuro1{
        background-color: #434351;
    }

    .bg-normal{
        background-color: #ac6291;
    }

    .bg-claro1{
        background-color: #e6cadf;
    }

    .bg-claro2{
        background-color: #ece7eb;
    }

    /*diseños de input*/
    .input-type1{
        background-color: #ac6291;
        border: none;
    }

    .input-type1:hover{
        background-color: #434351;
    }


    .input-type2{
        background-color: #434351;
        border: none;
    }

    .input-type2:hover{
        background-color: #e6cadf;
        color: black !important;
    }


    .input-type3{
        background-color: #22222b;
        border: none;
    }

    .input-type3:hover{
        background-color: #e6cadf;
        color: black !important;
    }