/*ESTILOS DE LA PÁGINA DE INICIO*/

    /*Le da un ancho mínimo al main*/
    main{
        min-height: 80vh;
    }

    /*Ajusta el alto del section al main*/
    section{
        min-height: 100%;
    }

    .bgDarky{
        background-color: #434351;
    }

    .card-img-top{
        max-height: 450px;
        aspect-ratio: 4/3;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .txtPortait{
        color: #e6cadf;
        font-size: 2em;
    }

    .card-text{/*MAIN Y FOOTER*/
        height: 100px;
        font-size: 0.8em;
    }